* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.header img {
  width: 100%; }
.header .container {
  height: 40px;
  line-height: 40px;
  background: #333333;
  margin-top: -6px; }
  .header .container .top1 {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
    .header .container .top1 ul {
      font-size: 12px; }
      .header .container .top1 ul:after {
        display: block;
        clear: both;
        content: '';
        position: absolute; }
    .header .container .top1 .ul11 {
      position: absolute;
      left: 0; }
      .header .container .top1 .ul11 li {
        float: left; }
        .header .container .top1 .ul11 li a {
          color: #b0b0b0;
          margin: 0 5px;
          cursor: pointer; }
          .header .container .top1 .ul11 li a:hover {
            color: #FFFFFF; }
    .header .container .top1 .ul22 {
      position: absolute;
      right: 0; }
      .header .container .top1 .ul22:after {
        display: block;
        clear: both;
        content: ''; }
      .header .container .top1 .ul22 .dian .aa {
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-top: 0;
        text-align: center;
        background: rgba(255, 255, 255, 0.2);
        transition: background 0.5s; }
        .header .container .top1 .ul22 .dian .aa:hover {
          background: #FFFFFF;
          color: red; }
      .header .container .top1 .ul22 li {
        float: left; }
        .header .container .top1 .ul22 li a {
          color: #b0b0b0;
          margin: 0 15px;
          cursor: pointer; }
          .header .container .top1 .ul22 li a:hover {
            color: #FFFFFF; }
          .header .container .top1 .ul22 li a span {
            margin-right: 5px; }
        .header .container .top1 .ul22 li .car {
          position: absolute;
          top: 40px;
          right: -15px;
          width: 300px;
          height: 106px;
          line-height: 100px;
          text-align: center;
          background: #ffffff;
          color: #000;
          z-index: 10;
          display: none;
          outline: none;
          box-shadow: 0 0 1px 1px #DDDDDD; }

article {
  width: 1200px;
  margin: 0 auto; }
  article .div1 {
    padding: 20px 0;
    position: relative; }
    article .div1:after {
      display: block;
      clear: both;
      content: ''; }
    article .div1 .logo img {
      float: left; }
    article .div1 .logo img:nth-child(1) {
      margin-top: 5px; }
    article .div1 ul {
      height: 70px;
      line-height: 70px;
      position: absolute;
      left: 250px;
      float: left; }
      article .div1 ul:after {
        display: block;
        clear: both;
        content: ''; }
      article .div1 ul li {
        float: left;
        padding: 0 10px; }
        article .div1 ul li a {
          color: #000; }
        article .div1 ul li:hover {
          color: red; }
    article .div1 .search {
      float: left;
      position: absolute;
      right: 0; }
      article .div1 .search p {
        width: 280px;
        height: 50px;
        line-height: 50px;
        border: 1px solid #DDDDDD; }
        article .div1 .search p span:nth-child(1) {
          display: inline-block;
          width: 220px;
          height: 50px;
          border-right: 1px solid #DDDDDD; }
          article .div1 .search p span:nth-child(1) input {
            width: 100%;
            height: 40px;
            border: none; }
        article .div1 .search p span:nth-child(2) {
          display: inline-block;
          text-align: center;
          width: 50px; }
  article .hide {
    z-index: 300;
    border-top: 1px solid #DDDDDD;
    background: #FFFFFF;
    position: absolute; }
    article .hide ul {
      padding-bottom: 20px;
      padding-right: 55px; }
      article .hide ul:after {
        display: block;
        clear: both;
        content: ''; }
      article .hide ul li {
        border-right: 1px solid #DDDDDD;
        float: left;
        position: relative;
        width: 170px;
        text-align: center;
        margin: 0 10px; }
        article .hide ul li button {
          position: absolute;
          top: 0;
          left: 50px;
          width: 80px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          border: 1px solid orangered;
          color: orangered;
          background: #FFFFFF; }
        article .hide ul li span {
          color: orangered; }
        article .hide ul li img {
          margin-top: 20px; }
  article .div2 .lunbo {
    position: relative; }
    article .div2 .lunbo .swiper-button-prev {
      position: absolute;
      left: 320px; }
    article .div2 .lunbo .swiper-pagination-fraction, article .div2 .lunbo .swiper-pagination-custom, article .div2 .lunbo .swiper-container-horizontal > .swiper-pagination-bullets {
      position: absolute;
      left: 400px;
      bottom: 30px; }
    article .div2 .lunbo .txt {
      width: 300px;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10; }
      article .div2 .lunbo .txt .hide1 {
        position: absolute;
        left: 300px;
        top: 0;
        width: 800px;
        height: 100%;
        background: #fafafa;
        z-index: 10; }
        article .div2 .lunbo .txt .hide1 ul:after {
          display: block;
          clear: both;
          content: ''; }
        article .div2 .lunbo .txt .hide1 ul li {
          width: 30%;
          height: 10%;
          float: left; }
          article .div2 .lunbo .txt .hide1 ul li:hover {
            color: red; }
          article .div2 .lunbo .txt .hide1 ul li button {
            background: #FFFFFF;
            color: orangered;
            border: 1px solid orangered;
            outline: none;
            padding: 1px 5px; }
          article .div2 .lunbo .txt .hide1 ul li img {
            vertical-align: middle;
            margin-right: 50px; }
      article .div2 .lunbo .txt ul {
        padding: 30px 0; }
        article .div2 .lunbo .txt ul li {
          position: relative;
          height: 51.5px;
          line-height: 51.5px;
          color: #FFFFFF;
          padding-left: 20px;
          cursor: pointer;
          transition: background 0.5s; }
          article .div2 .lunbo .txt ul li:hover {
            background: orange; }
          article .div2 .lunbo .txt ul li span {
            position: absolute;
            right: 30px;
            top: 4px; }
  article .div3 ul {
    padding: 10px 0; }
    article .div3 ul:after {
      display: block;
      clear: both;
      content: ''; }
    article .div3 ul li {
      float: left;
      margin: 0 5px;
      text-align: center;
      background: #fafafa; }
    article .div3 ul .tu {
      width: 210px;
      background: #5f5750; }
      article .div3 ul .tu:after {
        display: block;
        clear: both;
        content: ''; }
      article .div3 ul .tu div {
        width: 33%;
        float: left;
        text-align: center;
        padding: 18.5px 0; }
        article .div3 ul .tu div a {
          color: #DDDDDD;
          cursor: pointer; }
          article .div3 ul .tu div a:hover {
            color: #FFFFFF; }
  article .div4 {
    position: relative; }
    article .div4 span {
      padding: 0.3px 10px;
      border: 1px solid #DDDDDD;
      position: absolute;
      color: #c2b4b0;
      top: 25px; }
    article .div4 .zuo {
      right: 52px; }
    article .div4 .you {
      right: 20px; }
    article .div4 h1 {
      padding: 20px 0; }
    article .div4 ul:after {
      display: block;
      clear: both;
      content: ''; }
    article .div4 ul li {
      width: 210px;
      padding: 20px 0 50px 0;
      float: left;
      margin: 0 15px;
      text-align: center;
      background: #fafafa;
      line-height: -10px; }
      article .div4 ul li:hover {
        margin-top: -5px; }
      article .div4 ul li h2 {
        color: red; }
    article .div4 ul li:nth-child(1) {
      border-top: 1px solid orangered; }
    article .div4 ul li:nth-child(2) {
      border-top: 1px solid green; }
    article .div4 ul li:nth-child(3) {
      border-top: 1px solid blue; }
    article .div4 ul li:nth-child(4) {
      border-top: 1px solid red; }
    article .div4 ul li:nth-child(5) {
      border-top: 1px solid aqua; }

section {
  background: #f5f5f5;
  margin-top: 20px; }
  section .section {
    width: 1200px;
    margin: 0 auto; }
    section .section .div1 {
      position: relative; }
      section .section .div1 .hot {
        position: absolute;
        right: 10px;
        top: 35px; }
        section .section .div1 .hot a {
          margin-left: 10px;
          color: #000; }
          section .section .div1 .hot a:hover {
            border-bottom: 1px solid red;
            color: red; }
      section .section .div1 h1 {
        padding: 30px 0 10px 0; }
      section .section .div1 .con1 ul:after {
        display: block;
        clear: both;
        content: ''; }
      section .section .div1 .con1 ul li {
        position: relative;
        float: left; }
      section .section .div1 .con1 ul li:nth-child(1) {
        width: 240px;
        margin-top: 5px; }
        section .section .div1 .con1 ul li:nth-child(1) .image1 {
          width: 230px;
          height: 300px; }
      section .section .div1 .con1 ul .more {
        width: 950px; }
        section .section .div1 .con1 ul .more ol:after {
          display: block;
          clear: both;
          content: ''; }
        section .section .div1 .con1 ul .more ol li {
          width: 217px;
          float: left;
          height: 300px;
          text-align: center;
          background: white;
          margin: 5px 10px;
          position: relative; }
          section .section .div1 .con1 ul .more ol li:hover {
            margin-top: 5px; }
          section .section .div1 .con1 ul .more ol li del {
            text-decoration: line-through; }
          section .section .div1 .con1 ul .more ol li .yin {
            width: 100%;
            height: 80px;
            line-height: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: aquamarine; }
          section .section .div1 .con1 ul .more ol li span {
            color: red; }
          section .section .div1 .con1 ul .more ol li .btn1 {
            position: absolute;
            top: 0;
            left: 95px;
            background: red;
            color: #fffdef;
            outline: none;
            border: none;
            width: 70px;
            height: 15px;
            line-height: 15px;
            text-align: center; }
          section .section .div1 .con1 ul .more ol li .btn2 {
            position: absolute;
            top: 0;
            left: 95px;
            background: #34ff20;
            color: #fffdef;
            outline: none;
            border: none;
            width: 70px;
            height: 15px;
            line-height: 15px;
            text-align: center; }
          section .section .div1 .con1 ul .more ol li .img1 {
            padding: 30px 0 34px 20px; }
            section .section .div1 .con1 ul .more ol li .img1:after {
              display: block;
              clear: both;
              content: ''; }
            section .section .div1 .con1 ul .more ol li .img1 div {
              float: left; }
              section .section .div1 .con1 ul .more ol li .img1 div span {
                color: red; }
            section .section .div1 .con1 ul .more ol li .img1 div:nth-child(1) {
              margin-right: 30px; }
          section .section .div1 .con1 ul .more ol li .img2 {
            padding: 40px 0 0 20px;
            border-top: 15px solid #f5f5f5; }
            section .section .div1 .con1 ul .more ol li .img2:after {
              display: block;
              clear: both;
              content: ''; }
            section .section .div1 .con1 ul .more ol li .img2 div {
              float: left; }
              section .section .div1 .con1 ul .more ol li .img2 div span {
                color: red; }
            section .section .div1 .con1 ul .more ol li .img2 div:nth-child(1) {
              margin-right: 30px; }
    section .section .div2 {
      position: relative; }
      section .section .div2 h1 {
        padding: 15px 0; }
      section .section .div2 div {
        position: relative; }
        section .section .div2 div span {
          padding: 0.3px 10px;
          border: 1px solid #DDDDDD;
          position: absolute;
          color: #c2b4b0;
          top: -35px; }
        section .section .div2 div span:nth-child(1) {
          right: 52px; }
        section .section .div2 div span:nth-child(2) {
          right: 20px; }
      section .section .div2 ul:after {
        display: block;
        clear: both;
        content: ''; }
      section .section .div2 ul li {
        float: left;
        background: white;
        width: 217px;
        height: 300px;
        text-align: center;
        margin: 0 10px; }
        section .section .div2 ul li span {
          color: red; }
    section .section .div3 h1 {
      padding: 15px 0; }
    section .section .div3 ul:after {
      display: block;
      clear: both;
      content: ''; }
    section .section .div3 ul li {
      float: left;
      background: white;
      width: 287px;
      height: 418px;
      text-align: center;
      margin: 0 5px; }
      section .section .div3 ul li img {
        width: 100%; }
      section .section .div3 ul li div {
        margin-top: 20px; }
      section .section .div3 ul li a {
        display: inline-block;
        color: #9d9d9d;
        margin-top: 20px; }
      section .section .div3 ul li p span:nth-child(1) {
        margin-right: 10px; }
      section .section .div3 ul li p span:nth-child(2) {
        color: red;
        margin-left: 10px; }
    section .section .div4 h1 {
      padding: 15px 0; }
    section .section .div4 ul:after {
      display: block;
      clear: both;
      content: ''; }
    section .section .div4 ul li {
      width: 287px;
      height: 418px;
      float: left;
      margin: 0 5px;
      text-align: center;
      background: #fafafa; }
      section .section .div4 ul li:hover {
        margin-top: -5px; }
      section .section .div4 ul li span {
        display: inline-block;
        margin: 30px 0 20px 0; }
      section .section .div4 ul li h3 {
        margin: 15px 0 20px 0; }
      section .section .div4 ul li ol {
        margin: 20px 110px; }
        section .section .div4 ul li ol:after {
          display: block;
          clear: both;
          content: ''; }
        section .section .div4 ul li ol li {
          float: left;
          width: 10px;
          height: 10px;
          background: #9d9d9d;
          border-radius: 50%; }
      section .section .div4 ul li span:nth-child(1) {
        color: orangered; }
      section .section .div4 ul li span:nth-child(2) {
        color: green; }
      section .section .div4 ul li span:nth-child(3) {
        color: blue; }
      section .section .div4 ul li span:nth-child(4) {
        color: red; }
    section .section .div4 ul li:nth-child(1) {
      border-top: 1px solid orangered; }
    section .section .div4 ul li:nth-child(2) {
      border-top: 1px solid green; }
    section .section .div4 ul li:nth-child(3) {
      border-top: 1px solid blue; }
    section .section .div4 ul li:nth-child(4) {
      border-top: 1px solid red; }
    section .section .div5 {
      position: relative; }
      section .section .div5 h1 {
        padding: 15px 0; }
      section .section .div5 div {
        position: absolute;
        right: 20px;
        top: 20px; }
        section .section .div5 div span {
          margin-left: 10px; }
      section .section .div5 ul:after {
        display: block;
        clear: both;
        content: ''; }
      section .section .div5 ul li {
        width: 290px;
        height: 284px;
        float: left;
        margin: 0 5px;
        text-align: center;
        background: #fafafa;
        position: relative; }
        section .section .div5 ul li a {
          position: absolute;
          left: 18px;
          top: 150px; }
        section .section .div5 ul li img {
          width: 100%; }

footer {
  background: white; }
  footer .footer {
    width: 1200px;
    margin: 0 auto; }
    footer .footer .top {
      padding: 10px 0; }
      footer .footer .top ul {
        font-size: 22px;
        border-bottom: 2px solid #9d9d9d; }
        footer .footer .top ul:after {
          display: block;
          clear: both;
          content: ''; }
        footer .footer .top ul li {
          float: left;
          margin: 0 30px 10px 0; }
    footer .footer .lists {
      margin: 20px 0; }
      footer .footer .lists:after {
        display: block;
        clear: both;
        content: ''; }
      footer .footer .lists ul {
        float: left;
        margin: 0 36px; }
        footer .footer .lists ul .li {
          margin: 20px 0;
          font-weight: 700; }
      footer .footer .lists .kefu {
        border-left: 1px solid #9d9d9d;
        padding: 20px 0 0 50px; }
        footer .footer .lists .kefu h1 {
          color: red; }
        footer .footer .lists .kefu a {
          color: black; }
        footer .footer .lists .kefu .ask {
          width: 124px;
          height: 30px;
          line-height: 30px;
          border: 1px solid red;
          text-align: center;
          color: red;
          margin-top: 10px; }
          footer .footer .lists .kefu .ask:hover {
            background: orangered;
            color: #FFFFFF; }

.foot {
  background: #f5f5f5; }
  .foot .foot1 {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0; }
    .foot .foot1 ul:after {
      display: block;
      clear: both;
      content: ''; }
    .foot .foot1 ul li {
      float: left;
      margin: 0 2px; }
      .foot .foot1 ul li .img111 {
        height: 75px; }
    .foot .foot1 ul .li111 {
      margin: 10px 0; }
      .foot .foot1 ul .li111 div {
        float: left; }
        .foot .foot1 ul .li111 div img {
          vertical-align: middle; }
      .foot .foot1 ul .li111 .li11 {
        margin: 10px 0 0 30px; }
      .foot .foot1 ul .li111 .li22 {
        float: left;
        width: 100px; }
        .foot .foot1 ul .li111 .li22 img {
          float: left;
          margin-top: 10px; }

/*# sourceMappingURL=index.css.map */
